<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>733677257240-7crift9886n2r7r0p3tvdnha06ghtgls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733677257240-7crift9886n2r7r0p3tvdnha06ghtgls</string>
	<key>API_KEY</key>
	<string>AIzaSyBlKiaQ2LkSqxGEm2n69o95X_fgndQI7Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>733677257240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saeedalnuaimi.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-6146d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-6146d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733677257240:ios:38a8fbeb97490cdf</string>
	<key>DATABASE_URL</key>
	<string>https://fir-tutorial-6146d.firebaseio.com</string>
</dict>
</plist>