<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>778581223216-hor32o0kail4255nos32hrg01sc7hfvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778581223216-hor32o0kail4255nos32hrg01sc7hfvh</string>
	<key>API_KEY</key>
	<string>AIzaSyD9eFYA1160VKvLST_WA1yzxDM7cthJv50</string>
	<key>GCM_SENDER_ID</key>
	<string>778581223216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saeedalnuaimi.LoginTesting</string>
	<key>PROJECT_ID</key>
	<string>testingapp-baf23</string>
	<key>STORAGE_BUCKET</key>
	<string>testingapp-baf23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778581223216:ios:bb42ece7d3f9adaa</string>
	<key>DATABASE_URL</key>
	<string>https://testingapp-baf23.firebaseio.com</string>
</dict>
</plist>